.clientrequest-header {
  background-color: #fff;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  width : 100%;
  padding-top: 40px;
}

.clientrequest-titlecontainer {
  display: flex;
  width: 1200px;
  justify-content: center;
  align-items: center;
  
}

.cientrequest-titlecontainer2 {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-end;
  width: 1200px;
}

.clientrequest-titlecontainer h1 {
  margin: 0;
}